body {
  background-color: rgb(23, 23, 23);
  color: white;
  padding: 0;
  margin: 0;
}

.main-dj h1 {
  text-align: center;
}
.allMisuc {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;

  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 950px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 640px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.audioEl {
  background-color: rgb(35, 35, 35);
  width: 300px;
  margin: 4% 0%;
  border: 3px solid rgb(82, 82, 82);

  @media screen and (max-width: 1200px) {
    margin: 3% 0%;
  }
}

.playingSong {
  box-shadow: 0px 0px 5px 7px rgb(11, 179, 188);
}

.audio-controllers {
  margin: 5% 0%;
}

.audio-controllers,
.audio-speed,
.audio-volume,
.audio-direction {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.audio-speed,
.audio-volume,
.audio-direction {
  margin: 3% 0%;
}

.audio-speed input[type="range"],
.audio-volume input[type="range"],
.audio-direction input[type="range"] {
  width: 200px;
}

.audio-volume div,
.audio-speed div {
  display: flex;
  justify-content: center;
}

.audio-volume svg,
.audio-speed svg {
  width: 36px;
}
.audio-volume div {
  width: 24px;
}

.audio-speed div {
  width: 36px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: rgb(99, 99, 99);
}

.allAuthors {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-between;

  p {
    width: 120px;
    font-size: 16px;
  }
}

.isRepeat {
  color: #2a8de9;
  filter: drop-shadow(1px 1px 5px rgba(255, 255, 255, 0.5));
}
